* { box-sizing: border-box; }
 
 body {
 	font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
 	text-align: center;
 	font-size: 2.25rem;
    background-color: beige;
    margin: 12px;
    border: dotted purple 2px;
 }
 .title {
 	position: absolute;
 	top: 0;
 	right: 0;
 	border: 1px solid darkblue;
 	font-size: 1.25rem;
 }

 #section1, #section2, #section3 {
 	padding: 12px;
 }

 #section1 .content, #section2 .content, #section3 .content {
 	font-size: 1rem;
 	background-color: lightcoral; 
 	position: relative;
 	border:1px solid darkblue;
 	padding: 12px;
 }
 
#section1 .title {
	background-color: deepskyblue;
}

#section2 .title {
	background-color: lawngreen;
}

#section3 .title {
	background-color: orangered;
}

/* desktop  */
@media only screen and (min-width: 992px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 33%;
	} 
}

/*tablet*/
@media only screen and (min-width:768px) and (max-width: 991px) {
	#section1, #section2, #section3 {
		display: inline-block;
	} 

	#section1, #section2 {
		width: 49.7%;
	}

	#section3 {
		width: 100%;
	}
}

/*mobile*/
@media only screen and (max-width: 767px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 100%;
	} 
}
